.music-cards-container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--white);
}
.music-cards-wrapper { 
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 80%;
}
.podcast-cards-wrapper{
    width: 80%;
    display: flex;
    gap: 1.5rem;
}
.content-header-container { 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
}
.content-header-wrapper > *{ 
    margin: 0;
    padding: 1rem 0 1rem 0;
}
.content-header-wrapper { 
    width: 80%;
}
.tooltip{
    visibility: hidden;
}
.tooltip-container:hover .tooltip{
    visibility: visible;
}
.helper-image{
    height: 45rem;
    width: 45rem;
}
.helper-image > img{
    height: 100%;
}
@media screen and (max-width: 1440px) {
    .music-cards-wrapper { 
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        width: 80%;
        justify-content: center;
    }
    .content-header-wrapper { 
        width: 80%;
    }
    .music-image-container > img {
        height: 14rem;
        width: 14rem;
    }
    .music-card-content{
        width: 14rem;
    }
    .page-subheader-wrapper{
        width: 80%;
    }
    .header-wrapper{
        width: 80%;
    }
}
@media screen and (max-width: 1024px ) {
    .music-image-container > img {
        height: 10rem;
        width: 10rem;
    }
    .music-card-content{
        width: 10rem;
    }
}
@media screen and (max-width: 768px ) {
    .music-image-container > img {
        height: 9rem;
        width: 9rem;
    }
    .music-card-content{
        width: 9rem;
    }
}
@media screen and (max-width: 768px ) {
    .music-image-container > img {
        height: 7.2rem;
        width: 7.2rem;
    }
    .music-card-content{
        width: 7.2rem;
    }
    .music-card-container{
        flex-basis: 25%;
    }
}
@media screen and (max-width: 425px ) {
    .music-image-container > img {
        height: 5rem;
        width: 5rem;
    }
    .music-card-content{
        width: 5rem;
    }
}