.login-title {
    color: var(--white);
    margin-bottom: 1rem;
}
.login-form-row {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.login-form-row > input {
     padding: .5rem;
     margin-left: .1rem;
     margin-bottom: .7rem;
     border-radius: 40px;
     background-color: var(--off-black);
     color: var(--white);
     border: none;
}
.login-form-row > label {
    color: var(--white);
}
.errors-container > li{
    list-style: none;
}
