.single-event-container {
    color: var(--white);
}
.event-details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7%;
}
.event-details-subheader{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.event-details {
    width: 75%;
}
.event-details-subheader-section{
    display: flex;
    flex-direction: column;
}
.event-details-titles{
    display: flex;
}
.event-details-titles > * {
    margin-right: 0.5rem;
    margin-top: .5rem;
}
.event-quad-footer {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.tickets {
    width: 50%;
}
.ticket-price-tiers {
    background-color: var(--grey);
}
.ticket-price-tier {
    color: var(--off-white);
    display: flex;
    justify-content: space-between;
}
.lineup{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
}
.lineup-header{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.event-share{
    display: flex;
    justify-content: flex-end;
}
.lineup-artists {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.lineup-artists > * {
    margin-right: 1rem;
}
.event-description > p{
    margin-bottom: 1rem;
}
.lineup-details{
    margin-top: 2rem;
    display: flex;
}
.lineup-details-section{
    margin-right: 3rem;
}
.lineup-button { 
    font-size: 2rem;
    margin-bottom: 1rem;
    width: 20%;
    color: var(--white);
}
.lineup-button:hover { 
    cursor: not-allowed;
}
.event-quad-footer {
    margin-top: 5rem;
}
.event-quad-footer-item{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    margin-bottom: 7rem;
}
.event-quad-footer-item > span:first-child {
    font-size: .7rem;
    margin-bottom: 1rem;
}
.event-quad-footer-item > span:nth-child(2) {
    color: red;
}
.about-resale > h2 {
    margin-bottom: 1rem;
}
.about-resale > p {
    margin-bottom: 1rem;
}
