.single-event-container {
    color: var(--white);
}
.single-event-container > * {
    overflow: hidden;
}
.event-details-container{
    background-color: var(--off-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
.event-details-subheader{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.event-details {
    width: 80vw;
    margin-left: 10%;
    margin-right: 10%;
}
.event-details-subheader-section{
    display: flex;
    flex-direction: column;
    width: 20%;
    overflow: hidden;
}
.event-details-titles{
    display: flex;
}
.event-details-titles > * {
    margin-right: 0.5rem;
    margin-top: .5rem;
}
.event-quad-footer {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.attendees-length-container {
    display: flex;
}
.attendees-length {
    margin-right: 5rem;
}
.tickets {
    width: 95%;
    margin-top: 1rem;
}
.ticket-price-tiers {
    background-color: var(--light-grey-translucent);
}
.ticket-price-tier {
    color: var(--off-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1rem;
}
.ticket-price-tier-info{
    font-weight: 100;
    padding-bottom: .5rem;
}
.ticket-info{
    display: flex;
    justify-content: space-between;
}
.ticket-buttons { 
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}
.lineup{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.lineup-header{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.event-share{
    display: flex;
    justify-content: flex-end;
}
.lineup-artists {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.lineup-artists > * {
    margin-right: 1rem;
}
.event-description > p{
    overflow: hidden;
    margin-bottom: 1rem;
}
.lineup-details{
    margin-top: 2rem;
    display: flex;
}
.lineup-details-section{
    margin-right: 3rem;
}
.lineup-button {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--white);
}
/* .lineup-button:hover {
    cursor: not-allowed;
} */
.lineup-button-text:hover {
    cursor: not-allowed;
    color: var(--red);
}
.event-quad-footer {
    margin-top: 5rem;
}
.event-quad-footer-item{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    margin-bottom: 7rem;
}
.event-quad-footer-item > span:first-child {
    font-size: .7rem;
    margin-bottom: 1rem;
}
.event-quad-footer-item > span:nth-child(2) {
    color: red;
}
.about-resale  {
    margin-bottom: 5rem;
}
.about-resale > h2 {
    margin-bottom: 1rem;
}
.about-resale > p {
    margin-bottom: 1rem;
}
.event-buttons-container {
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.event-advertisements {
    margin-bottom: 5rem;
}
.circle-button { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .1rem;
    border-radius: 50%;
    background-color: var(--red);
    color: var(--white);
}
.circle-button-large{ 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 50%;
    background-color: var(--grey);
    border: .1rem solid var(--red);
    color: var(--white);
}
.ticket-button-quantity{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.circle-button-large:hover{
    cursor: not-allowed;
}
.quantity{
    font-size: 2rem;
}
.buy-tickets{
    display: flex;
}
.interested > a:hover{
    cursor: not-allowed;
}