.post-image-container > img{
    height: 35vh;
    max-width: 23vw;
    object-fit: cover;
    margin-bottom: 1rem;
}
/* @media screen and (max-width: 1024px){
    .modular-image{
        width: 25vw;
    }
} */