.popular-content-card{
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 16rem;
}
@media screen and (max-width: 1440px) {
    .post-image{

    }
    .popular-content-card{
        width: 14rem;
    }
}