.square-post-image-container > img{
    height: 23rem;
    width: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
}
.square-post-content-card{    
    width: 23rem;
}
.square-post-image-container:hover {
    cursor: pointer;
}
/* @media screen and (max-width: 1024px){
    .modular-image{
        width: 25vw;
    }
} */
