.square-post-image-container > img{
    /* height: 200px;
    width: 200px; */
    height: 14rem;
    width: 14rem;
    object-fit: cover;
    margin-bottom: 1rem;
}
/* @media screen and (max-width: 1024px){
    .modular-image{
        width: 25vw;
    }
} */