.square-post-image-container > img{
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    margin-bottom: 1rem;
}
/* @media screen and (max-width: 1024px){
    .modular-image{
        width: 25vw;
    }
} */
