.post-details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--off-white);
}
.share {
    display: flex;
    flex-direction: column;
}
.post-details-content-container {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 1rem;
}
.post-details-description{
    margin-top: 2rem;
}
.post-owner-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}
.post-owner-buttons > * {
    margin-right: 1rem;
}
#bruuuuuuuuuh{
    background-color: var(--off-white);
}