.series-image-container > img {
    width: 14.6rem;
    height: 8.1rem;
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    object-fit: cover;
}
.series-image-container > img:hover {
    cursor: not-allowed;
}