.series-image-container > img {
    /* width: 18vw;
    height: 18vh; */
    width: 14.6rem;
    height: 8.1rem;
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    object-fit: cover;
}
/* .news-image-container {

} */
/* @media screen and (max-width: 1024px){
    .modular-image{
        width: 25vw;
    }
} */