.content-header {
    display: flex;
    align-items: center;
    /* margin-top: 2rem; */
    margin-bottom: .5rem;
    font-size: 2.5rem;
    line-height: 50px;
    color: var(--red);
    font-weight: 600;
}
.content-header-content-container{
    margin-left: 3.5rem;
    margin-bottom: 1rem;
}
.triangle-container { 
    position: relative;
    height: 45px;
}
.triangle {
    position: absolute;
    top: 34%;    
    left: 50%;
    transform: rotate(-45deg);
    width: 55px;
    height: 1px;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid var(--red);
}