.footer-container{
    width: 100vw;
    height: 100%;
    background-color: var(--red);
    display: flex;
    justify-content: center;
}
.footer-wrapper {
    width: 80%;
}
.footer-nav > nav{
    display: flex;
}
.footer-nav-title{
    padding-bottom:1rem ;
}
.footer-nav-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 1rem;
    margin-top: 3rem;
}
.footer-footer-section-one-left{
    display: flex;
    align-items: center;
}
.footer-footer-location{
    margin-right: 1rem;
}
.footer-footer-section-one{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-bottom: 1rem;
    border-bottom: .1px solid var(--grey);
}
.footer-footer-section-two{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.footer-footer-section-one-right{
    display: flex;
    justify-content: end;
}
.footer-footer-section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-nav-bar{
    display: flex;
}
.footer-nav-bar > .nav-item-container > .nav-item:hover{
    cursor: not-allowed;
}
.footer-nav-bar > .nav-item-container > *{
   font-size: 1rem;
}
.footer-nav-bar-small{
    display: flex;
}
.footer-nav-bar-small > .nav-item-container > .nav-item:hover{
    cursor: not-allowed;
}
.footer-logo{
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.footer-logo > a > i{
    color: var(--white);
    font-size: 3rem;
}
.footer-logo > a > i:hover{
    color: var(--black);
    cursor: pointer;
}
.footer-share-buttons {
    display: flex;
}
.footer-flag:hover {
    cursor: not-allowed;
}
.english-button {
    color: var(--white);
}
.main-footer-container{
    display: flex;
    margin-top: 1rem;
}
.main-footer-wrapper{
    width: 100%;
}
.footer-title{
    margin: 0;
    font-size: 2rem;
}
.footer-subtitle{
    color: var(--blue);
}
.footer-content{
    width: 50%;
}