.post-image{
    display: block;
    height: 23rem;
    /* width: 15rem; */
    width: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
}
/* @media screen and (max-width: 1024px){
    .modular-image{
        width: 25vw;
    }
} */