.popular-news-card { 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    border-top: 0.1rem solid var(--grey);
}
.number{
    font-size: 3rem;
    margin-right: 1rem;
}
.popular-news-content{
    font-size: 1.5rem;
}