.popular-news-card {
    display: flex;
    align-items: center;
    border-top: 0.1rem solid var(--grey);
}
.number{
    font-size: 1.8rem;
    margin-right: 1rem;
    color: var(--grey);
}
.popular-news-content{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    letter-spacing: .1px;
}
.pop-news-container{
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}
.pop-news {
    font-weight: 600;
    width: 90%
}
.pop-news:hover{
    cursor: pointer;
    color: var(--red);
}
