/* TODO Add site wide styles */
*{
    margin: 0;
    padding: 0;
}
:root {
    --red: #ff4848;
    --off-white: #f2f2f2;
    --white: #ffffff;
    --black: #000000;
    --grey: #151515;
}
.top-bottom-borders{
    border-top: .01rem solid var(--grey);
    border-bottom: .01rem solid var(--grey);
}
.content-header {
    font-size: 1.5rem;
    color: var(--red);
}
.header{
    width: 100%;
    text-align: left;
}
.circle-button{
    border: none;
    color:var(--black);
    font-weight: 900;
    font-size: 1.1rem;
    border-radius: 70rem;
    background-color: whitesmoke;
    padding: 1rem;
    margin: 1rem;
}
.circle-button > i {
    display: flex;
}
.circle-button:hover{
    /* background-color: white; */
    box-shadow: 0px 0px 2px 2px var(--black);
    cursor: pointer;
}
.oval-button{
    color:var(--off-white);
    font-size: .7rem;
    background-color: var(--red);
    border-radius: 70rem;
    border: none;
    padding: .7rem;
    width: 4rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.oval-button:hover{
    background-color: var(--off-white);
    color:var(--black);
    cursor: pointer;
}
.title {
    font-size: 1.2rem;
}
label{
    color: var(--white);
    font-size: .7rem;
    letter-spacing: .02rem;
    margin-bottom: .2rem;
}
a {
    color: var(--black);
    text-decoration: none;
}
a:hover{
    color: var(--red);
}