.form-nav-bar {
    display: flex;
    justify-content: flex-start;
    height: 250px;
    margin-right: 5rem;
    margin-top: 7rem;
}
.form-nav-bar-row{
    display: flex;
    justify-content: flex-start;
    height: 7rem;
}
.form-nav-container-row{
    display: flex;
    width: 100%;
}
.form-nav-item{
    margin: 1rem;
    margin-right: 2rem;
}
.form-nav-item-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem;
    margin-right: 2rem;
}
.form-nav-link{
    color: var(--black);
}
.form-nav-item:hover {
    cursor: not-allowed;
}
.form-nav-item-number {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    border-radius: 100%;
    background-color: var(--red);
    color: var(--white);
    border: none;
    height: 30px;
    width: 30px;
}
.form-nav-container {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--off-white);
}