.form-nav-bar {
    display: flex;
    justify-content: flex-start;
    height: 250px;
    border-right: 1px solid var(--off-white);
    padding-right: 3rem;
    margin-right: 7rem;
    margin-top: 7rem;
}
.form-nav-item{
    margin: 1rem;
}
.form-nav-link:hover {
    cursor: not-allowed;
}
.form-nav-item-number {
    border-radius: 100px;
    padding: .5rem;
    background-color: var(--red);
    color: var(--white);
    border: none;
    margin-right: 1rem;
}
.form-nav-container {
    display: flex;
    flex-direction: column;
    height: 100px;
}
