.ticket-container{
    height: 7rem;
    width: 40rem;
    display: flex; 
    align-items: center;
}
.my-ticket-title-container{
    width: 20rem;
}
.button-container{
    display: flex;
    justify-content: flex-end;
    width: 20rem;
}