.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    color: whitesmoke;
    text-decoration: none;
}
.nav-item:hover{
    color: var(--black);
    filter: brightness(90%);
    cursor: pointer;
}
.nav-item-container{
    margin-right: 3rem;
}
.logo{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo > a{
    color: whitesmoke;
    font-size: 1.5rem;
}
.logo > a:hover {
    color: var(--black);
    cursor: pointer;
}