.splash-page-container {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}
.splash-background {
    width: 1px;
}
.splash:hover {
    cursor: pointer;
}
#loading-screen{
    display: none;
}