.magazine-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    overflow-x: hidden;
    width: 100vw;
}
.header-wrapper {
    overflow: hidden;
}
.magazine-container{
    width: 80%;
}
.film{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.film-text{
    margin-left: 1rem;
}
.series{
    display: flex;
    flex-direction: column;
}
.m-p-section {
    display: flex;
}
.post-create {
    margin-top: 1rem;
}
