.page-header-container{
    height: 15vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--grey);
    color: var(--off-white);
}
.main-header{
    font-size: 120px;
    line-height: 120px;
}
/* .main-header {
    margin-bottom: .75rem;
    font-size: 1.2rem;
} */
.header-wrapper{
    width: 80%;
    margin-bottom: 1rem;
}
.page-subheader-container{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--off-white);
}
.page-subheader-wrapper{
    width: 80%;
}
.sub-header {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
