.page-header-container{
    height: 17rem;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--grey);
    color: var(--off-white);
}
/* .main-header{
    font-size: 120px;
    line-height: 120px;
    letter-spacing: 0px;
    font-weight: 400;
} */
.main-header {
    font-size: 3rem;
    font-weight: 300;
}
/* .main-header {
    margin-bottom: .75rem;
    font-size: 1.2rem;
} */
.header-wrapper{
    width: 80%;
    margin-bottom: 1rem;
}
.page-subheader-container{
    /* height: 6.9rem; */
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--off-white);
}
.page-subheader-wrapper{
    width: 80%;
}
.sub-header > h2 {
    color: var(--black);
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
    margin-top: 30px;
    margin-bottom: 30px;
}
.sub-header > h2 {
    font-size: 2rem;
    font-weight: 500;
}
.venue:hover {
    cursor: not-allowed;
}
