.content{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: .01rem solid var(--grey);
    border-bottom: .01rem solid var(--grey);
    padding: .5rem;
    margin: .5rem;
    width: 45%;
}
.content:hover{
    filter: brightness(99%);
}
.content-container{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.text{
    display: flex;
    align-items: center;
    flex-direction: column;
}