.content{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: .01rem solid var(--grey);
    border-bottom: .01rem solid var(--grey);
    padding-bottom: .5rem;
    padding-top: .5rem;
    width: 50%;
}
/* .content:hover{
    filter: brightness(99%);
} */
.content-container{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.text{
    display: flex;
    align-items: center;
    flex-direction: column;
}