.content{
    display: flex;
    align-items: center;
    border-top: 0.01rem solid var(--grey);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 75%;
}
/* .content:hover{
    filter: brightness(99%);
} */
.content-containers {
    margin-top: 1rem;
    display: flex;
}
.content-container{
    display: flex;
    /* align-items: center; */
    width: 100%;
    flex-direction: column;
}
.text{
    display: flex;
    align-items: center;
    flex-direction: column;
}