.square-post-content-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
}
.square-post-content:hover{
    background-color: rgba(220, 220, 220, 0.123);
    border-radius: .23rem;
    filter: brightness(99%);
}
.square-post-content-container{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.text{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.post-primary-text{
    font-size: 1rem;
    margin-left: 1rem;
}
/* .support-text{
    padding-top: .2rem;
    margin-top: .2rem;
    padding-bottom: 4rem;
    overflow-wrap: anywhere;
} */
