.music-card-container { 
    display: flex;
    flex-direction: column;
    width: 15rem;
}
.music-card-content{
    width: 100%;
}
.music-card-title { 
    margin-bottom: .1rem;
}
.music-image-link:hover { 
    cursor: pointer;
}
.music-image-link:hover > h3 { 
    color: var(--red);
}
.record-label{
    color: var(--grey);
    margin-top: 1rem;
}
.record-label:hover{
    color: var(--red);
    cursor: not-allowed;
}
.music-card-user{
    display: flex;
    align-items: center;
    margin-top: .75rem;
}
.user-profile-pic{
    height: 1.5rem;
    display: flex;
    align-items: center;
    margin-right: .5rem;
}
.user-name:hover{
    color: var(--red);
    cursor: not-allowed;
}