.music-card-image > img{ 
    max-width: 100%;
    /* height: 35vh; */
    object-fit: cover;
}
.music-card-container { 
    display: flex;
    flex-direction: column;
    max-width: 11rem;
}
.music-card-content{
    width: 100%;
}
.music-card-title { 
    margin-bottom: .1rem;
}
.music-image-link:hover { 
    cursor: pointer;
}
.music-image-link:hover > h3 { 
    color: var(--red);
}