.podcast-image { 
    /* height: 316px;
    width: 316px; */
    height: 20rem;
    width: 20rem;
    object-fit: cover;
}
.podcast-card-container { 
    flex-basis: 25%;    
}
.podcast-card-title { 
    margin-bottom: .1rem;
}
.podcast-card-image:hover {
    cursor: pointer; 
}
.podcast-title:hover {
    cursor: pointer; 
    color: var(--red)
}
.podcast-card-description{
    width: 18rem;
}