.news-image-container > img {
    width: 18vw;
    height: 18vh;
    padding-right: 1.5rem;
    display: block;
    object-fit: cover;
}
/* .news-image-container {

} */
/* @media screen and (max-width: 1024px){
    .modular-image{
        width: 25vw;
    }
} */