.news-image-container > img {
    width: 15vw;
    height: 11vh;
    display: block;
    object-fit: cover;
}
/* @media screen and (max-width: 1024px){
    .modular-image{
        width: 25vw;
    }
} */