.create-event-container {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    height: 100vh;
}
.create-event-form {
    width: 50%;
}
.form-row-column {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    justify-content: space-between;
}
.form-row {
    display: flex;
    margin-bottom: 1rem;
}
.form-buttons{
    margin: 1rem;
    display: flex;
    justify-content: flex-end;
}
.venue > *:hover {
    cursor: not-allowed;
}
