.create-event-container {
    display: flex;
    justify-content: center;
    width: 80%;
}
.create-event-form {
    width: 50%;
}
.form-row-column {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    justify-content: space-between;
}
.form-row {
    display: flex;
    margin-bottom: 1rem;
}
.form-buttons{
    display: flex;
    justify-content: flex-end;
}