.time-type{
    display: flex;
    align-items: center;
}
.time-type > *{
    margin: .3em;
}
.fa-circle{
    font-size: .3rem;
}
.big-title {
    font-size: 2rem;
}
.single-post-title {
    margin-bottom: .5rem;
}
.single-post-sentence { 
    word-break: break-all;
}
.post-sentence{
    height: .1rem;
    overflow: hidden;
}
.location {
    margin-top: .5rem;
}
.location > i { 
    margin-right: .5rem;
}