.post-preview-container {
    width: 100%;
}
.post-preview-container > * {
    color: var(--white);
}
.dark-post-preview-container  > *{
    color: var(--black);
}
.dark-post-preview-title > *{
    color: var(--black);
}
.time {
    color: var(--black);
}
.time-type{
    color: var(--black);
    display: flex;
    align-items: center;
}
.time-type > * {
    margin-right: .5rem;
}
.fa-circle{
    font-size: .3rem;
}
.big-title {
    font-size: 2rem;
    color: var(--black);
}
.fa-circle {
    margin-right: .5rem;
}
.big-title:hover {
    cursor: pointer;
    color: var(--red);
}
.post-preview-title {
    margin-bottom: .5rem;
}
.popular-title {
    color: var(--white);
}
.popular-title:hover{
    cursor: pointer;
    color: var(--red);
}
.post-preview-description {
    word-break: break-all;
}
.slice-of-description{
    color: var(--black);
    font-size: .8rem;
    font-family: Arial, Helvetica, sans-serif;
}
.light-slice-of-description {
    color: var(--off-white);
    font-size: .8rem;
    height: .1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.description {
    margin-bottom: 1rem;
    width: 80%;
}
.location {
    margin-top: .5rem;
}
.attending-content {
    margin-top: .2rem;
}
.location-content > i {
    color: var(--red);
    margin-right: 0.6rem;
    font-size: 1.25rem;
}
.regular-event-location-content > *{
    color: var(--red);
}
.attending-content > i{
    color: var(--red);
    margin-right: 0.5rem;
}
.attending-content {
    display: flex;
    align-items: center;
}
.location-content-location > i {
    margin-right: 0.5rem;
}
.location-content-attendees > i {
    margin-right: 0.3rem;
}
.news-preview-container{
    color: var(--off-white);
}
/* .news-preview-container > .post-preview-title > * {
    color: var(--black);
} */
.location-text {
    color: var(--off-white);
}
.dynamic-location-content {
    width: 100%;
}
.regular-event-location-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.post-title:hover {
    cursor: pointer;
    color: var(--red);
}
