.time-type{
    display: flex;
    align-items: center;
}
.time-type > *{
    margin: .3em;
}
.fa-circle{
    font-size: .3rem;
}
.big-title {
    font-size: 2rem;
}
.single-post-title {
    margin-bottom: .5rem;
}
