.secondary-nav-container{
    display: flex;
    padding: .2rem;
    width: 100vw;
    align-items: center;
    justify-content:center;
    color: var(--white);
    background-color: var(--black);
}
.secondary-nav-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}
.secondary-nav-section{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
}
.filter-by-text {
    font-size: .8rem;
}
.slash-bruh{
    height: 150%;
    display: flex;
    border-right: 1px solid var(--grey);
    transform: rotate(45deg);
    margin-right: 3rem;
}
