.news-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: .5rem;
    margin-top: .5rem;
    width: 100%;
}
.news-content:hover{
    filter: brightness(99%);
}
/* .text{
    display: flex;
    align-items: center;
    flex-direction: column;
} */
.primary-text{
    font-size: 1rem;
    margin-left: 1rem;
}
.primary-text{
    font-size: 1rem;
    margin-left: 1rem;
}
.location > *{
    margin: .2rem;
}
/* .support-text{
    padding-top: .2rem;
    margin-top: .2rem;
    padding-bottom: 4rem;
    overflow-wrap: anywhere;
} */
.post-details-news-container {
    width: 50%;
}
