.latest-news-container{
    display: flex;
    flex-direction: column;
}
/* @media screen and (max-width: 1024px){
    .latest-news-container {
        width: 1024px;
    }
} */
.latest-popular {
    display: flex;
}
.latest-news-header {
    width: 50%;
}
