.latest-news-container{
    display: flex;
    flex-direction: column;
}
/* @media screen and (max-width: 1024px){
    .latest-news-container {
        width: 1024px;
    }
} */
.latest-popular {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
}
.latest-news-header {
    width: 60%;
}
