.light-login-container{
    width: 100%;
    background-color: var(--white);
}
.login-title-light{
    color: var(--off-black);
    margin-bottom: 1rem;
}
.light-login-form-row {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.light-login-form-row > input {
     padding: .5rem;
     margin-left: .1rem;
     margin-bottom: .7rem;
     border-radius: 40px;
     background-color: var(--off-white);
     color: var(--off-black);
     border: none;
}
.light-login-form-row > label {
    color: var(--off-black);
}
.errors-container > li{
    list-style: none;
}
.light-oval-button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    color:var(--off-white);
    font-size: .75rem;
    letter-spacing: .02rem;
    background-color: var(--red);
    border-radius: 70rem;
    border: none;
    padding: .5rem 2.5rem;
    width: 4rem;
    /* border-radius: 25px;
    padding: 15px 25px; */
}
.light-oval-button:hover{
    background-color: var(--off-white);
    color:var(--black);
    cursor: pointer;
    /* cursor: not-allowed; */
}