.series-section {
    /* margin: 3rem; */
    max-width: 100%;
    overflow: hidden;
}
.series-section-two {
    /* margin: 3rem; */
    max-width: 100%;
    overflow: hidden;
    margin-top: 3rem;
}
.series-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}
.series-card-container > img {
    max-width: 100%
}
/* .series-cards-flex-container {
    display: flex;
} */
