.music-image-container:hover{
    cursor: pointer;
}
.music-image-container > img{ 
        /* width: 232px;
        height: 232px; */
        height: 11rem;
        width: 11rem;
        display: block;
        object-fit: cover;
}