.music-image-container:hover{
    cursor: pointer;
}
.music-image-container > img{ 
        /* width: 232px;
        height: 232px; */
        height: 15rem;
        width: 100%;
        display: block;
        object-fit: cover;
}
.music-image-container{
    width: 100%;
}