.main-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--white);
}
.main-content{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-top: 2rem;
}
.main-content-area{
    display: flex;
    flex-direction: column;
}
.content-header > h2{
    font-size: 1.5rem;
}
.popular-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--off-black);
}
.popular-content {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}
.popular-content-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.popular-content-button > a {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.popular-header-container {
    display: flex;
    justify-content: space-between;
}
.location-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 20rem;
}
.location-header {
    display: flex;
    align-items: center;
    font-size: 3rem;
}
.location-header > i {
    margin-right: 4rem;
    color: var(--red);
}
