.main-content{
    display: flex;
    flex-direction: column;
    width: 83%;
    background-color: var(--white);
}
.main-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-content-area{
    display: flex;
    flex-direction: column;
}
.content-header > h2{
    font-size: 1.5rem;
}
.popular-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popular-content {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}
.popular-content-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.popular-header-container {
    display: flex;
    justify-content: space-between;
}